*{ 
    box-sizing: border-box;}
    .clear-float { clear: both;}
    /* css layout01 */
  .layout1>.widthred {
      height: 400px;
      background-color: red;
      min-width: 60%;
      margin-bottom: 50px;
 }
  .color1>.size1 { 
      height: 200px;
}

  .color1>.green{
      background-color: green;
  }
  .color1>.blu{
      background-color: blue;
  }
  .layout1>.widthred , .color1>.size1 {
      float: left;
     
  }
  .color1 {
    display: flex;
    flex-direction: column;
  }

  /* css layout02 */
  .layout2>.widthred {
    height: 400px;
    background-color: red;
    min-width: 60%;
    margin-bottom: 50px;
    margin-right: 15px;
}
.color2>.size2 { 
    height: 200px;
}

.color2>.green{
    background-color: green;
}
.color2>.blu{
    background-color: blue;
}
.layout2>.widthred , .color2>.size2 {
    float: left;
   
}
.color2 {
  display: flex;
  flex-direction: column;
}

/* css layout03 */
 .size3 {
     width:33.3333333%;
     height: 400px;
     float: left;
     margin-bottom: 50px;

 }
 .red3 {
     background-color: red;
 }
 .green3 { 
     background-color: green;
 }
 .blu3 {
     background-color: blue;
 }
 /* css layout04 */
 .hungdz {
    display: flex;
    flex-direction: row;
}

 .size4 {
    width:33.33%;
    height: 400px;
 }
.red4 {
    background-color: red;
    margin-right: 15px;
}
.green4 { 
    background-color: green;
    margin-right: 15px;
}
.blu4 {
    background-color: blue;
}