*{
    box-sizing: border-boxS;
}
.fileanh {
    display: grid;
    grid-template: auto / auto auto ;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.anh {
    width:200px ;
    height: 200px;
    overflow: hidden;
    transition: transform 1s ease-in-out  ;
}
.fileanh .anh:hover {
    transform: scale(2);
}
.hoat-anh {
    width: 100%;
    height: 800px;
    background-color: aqua;
    animation-name: thaynhieu ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*định nghĩa một animation */
@keyframes change-color {
    from {
        background-color: red;    }
    to {
        background-color: rebeccapurple;
    }
}
@keyframes thaynhieu { 
    0% {  background-color: royalblue;}
    20%{ background-color: saddlebrown;}
    40%{ background-color: slateblue;}
    60%{ background-color: springgreen;}
    80%{ background-color: black;}


}