*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #f4f7fa;

}
header {
    background-color:  #994d00;
    padding: 1em 0;
}
.header {
   width: 80%;
   margin: auto;
   display: block;
}
.row {
    display: flex;
    align-items: center;
}
.logo {
    display: block;
    max-width: 50px ;
}
.huhhuhu {
    border-radius: 20px;
}
.logo img { 
    width: 100%;
}
.main-menu {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.main-menu li {
    list-style: none;
}
.main-menu li a {
    display: block;
    color: wheat;
    text-decoration: none;
    padding: 0 3rem ;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.timkiem {
    margin-left: 2rem;
}
.timkiem .sb-sbm {
    /* height: 25px;
    width: 45px;
    color: transparent;
    background: transparent url( ); */
    border-radius: 10px;
    font-size: 15px;
    
}
.timkiem .sb-text {
    border-radius: 10px;
    font-size: 15px;
}
.line { 
    position: fixed;
    right: 40px;
    bottom: 40px;
}
#nutbam {
    width: 60px ;
    height: 60px;
    border-radius: 50%;
}

/* giới thiệu */
.container {
    width: 80% ;
    background-color: white; 
    margin-top: 50px;
    border-left: 1px solid black  ;
    border-right: 1px solid black  ;
    border-top: 1px solid black  ;
    padding: 35px ;
}
p { 
    font-size: 23px;
}
.theb {
    font-size: 30px ;
    display: block;
}
.nghieng {
    font-size: 28px;
    margin-left:3% ;
    display: block;
}
.dukien {
    font-size: 20px;
    margin-left: 8% ;
    display: block;
    color:  #00ace6 ;
}
.muc {
    font-size: 18px;
    margin-left: 10% ;
    display: block;
    color: #ff3333;
}
.thep {
    display: block;
    margin-left: 5%;
}
.anhimg {
    text-align: center;
    display: block;
}
img {
    border-radius: 20px;
}
.anhtitle {
    display: block;
    max-width: 150px ;
    margin: auto;
    margin-bottom:50px ;
}
